body{
   background-color: #611302;
}
.container{
    background-color: ;
}
.carousel{
    float: left;
    margin:0;
    width: 600px;
    text-align:center;
}
.carousel-item{
    height: 603px;
    width:100%;
    margin:0 100px;
    width: 400px;
    text-align:center;
}


table{
    width:100%;
}
tr{
    width:10%;
    background-color: #783020;

}
.info_movie>h5{
    margin-right: 80px;
    text-transform: capitalize;
}
.card-title,.card-text{
    text-transform: capitalize;
    color: rgb(120, 120, 120);
}

h3{
    color: rgb(120, 120, 120);
}
.card-body{
    background-color: #4D3B37;
}
.card-title,.card-title{
    color: black;
}
table, th, td {
  text-align: center;
  border: 1px solid black;
}

.grilla-peliculas tr{
    height: 150px;
}
.grilla-peliculas td{
    width:140px;
    height: 150px;
}
.grilla-peliculas th{
    width:123px;
    height: 150px;
}

.contactoform{
    background: black;
    opacity: 0.7;
    margin: 48px auto;
    border-radius: 10px;
}
label{
    width: 70px;
}

footer{
    clear: both;
    background-color: black;
    padding: 40px;
}

.redes{
    color: #fff;
    float: left;
}
.redes ul li{
    list-style: none;
    margin: 15px;
}


footer::after{ 
   content: "";
   display: block; 
   clear: both;
}
h1{

}

article{
    margin:20px auto;
}
p,.formulario,h1,a{
    color: white;
}